# Project exclude paths
/venv/
/.idea/.gitignore
/OSCALimport/migrations/
/importSecurityControlsFromWord.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/OSCALweb.iml
/.idea/dictionaries/parallels.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/SystemSecurityPlans/assets/
/SystemSecurityPlans/migrations/
/db.sqlite3
/db2.sqlite3
/db3.sqlite3
/mydatabase