# Project exclude paths
/venv/
/.idea/.gitignore
/scripts/migrations/
/importSecurityControlsFromWord.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/OSCALweb.iml
/.idea/dictionaries/parallels.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/SystemSecurityPlans/assets/
/SystemSecurityPlans/migrations/
/mydatabase
/Documents/
