<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Controls</title>
</head>
{% load static %}

<body>
{% if implementedRequirements %}
    <ul>
        {% for control in implementedRequirements %}
            <li><a href="{% url 'ssp:controlDetailView' control.id %}">{{ control.controlID }}</a></li>
            <h2>Parameters:</h2>
            <ul>
                {% for p in control.parameters.all %}
                    <li>{{ p.paramID }} : {{ p.value }}</li>
                {% endfor %}
            </ul>
            How is the control implemented?
            <ul>
                {% for s in control.statements.all %}
                    <li>{{ s.statementID }} : {{ s.description }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% else %}
    <p>No controls are available.</p>
{% endif %}
</body>
</html>